{%load static%}
<section id="about" class="about">
    <div class="container d-flex">
        <div class="container d-flex align-items-center justify-content-between">
            <a href="{% url 'index' %}" class="logo align-items-center">
              <img src="{% static 'img/logo/Labo-Logo.png' %}" height="350px" alt="">
            </a>
        </div>
        <div class="container-fluid text-center">
            <h6>About The Barangay Iberica</h6>
            <p>das Lorem, ipsum dolor sit amet consectetur 
                adipisicing elit. Expedita iusto nam voluptate molestiae doloribus quam
                 natus cupiditate repellendus sapiente cum? Necessitatibus suscipit laborum v
                 elit ipsam reprehenderit minima excepturi quo nobis!</p>
        </div>
    </div>
</section>