{%load static%}
<section id="seal" class="seal d-flex">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="{% url 'index' %}" class="logo align-items-center">
          <img src="{% static 'img/logo/Labo-Logo.png' %}" height="90px" alt="">
        </a>

        <div class="seal-text container-fluid" style="text-transform:uppercase;">
        <h6><b>Republic of the Phillipines</b></h6>
        <h6><b>Municipality Government of Labo Camarines Norte</b></h6>
        <h5><b> Barangay Iberica</b></h5>
    </div> 
    </div> 
</section>